{% extends "mybooks/index.html" %}

{% load static %}


{% block content %}


<div class="container">
  <h2 class="display-5">About:</h2>


<div class="page-text">
  <p>authorCount was created by an author for authors. Ever wanted to know how much progress you're <em>really</em> making on that book you're writing? You've come to the right place. Spreadsheets are so 2010.</p>
  <p>All you have to do is create an account, add your books/articles/dissertations/etc., and start tracking! We can't promise productivity, but we can promise you'll feel way more organised — which begets productivity, right?</p>



</div>
</div>




{% endblock %}
