{% extends "mybooks/index.html" %}

  {% block content %}
<div class="book-post">

  <div class="book-metadata">
     <h2>{{ book.title }}</h2>
     <p><strong>Date added:</strong> {{ book.date_added }}</p>
  </div>

  <div class="book-stats">
    <p><strong>Current word count:</strong> {{ book.wordcount }}</p>
    <p><strong>Goal word count:</strong> {{ book.goalwordcount }}</p>
  </div>

  <div class="book-text">
    <h3>Synopsis:</h3>
    <p>{{ book.synopsis }}</p>

    <h3>Review:</h3>
    <p>{{ book.review }}</p>

  </div>

         {% if user.is_authenticated %}
           <a class="btn btn-default" href="{% url "update" pk=book.pk %}"></a>
           <a class="btn btn-default" href="{% url "delete" pk=book.pk %}%}"></a>
         {% endif %}

     </div>

<p>
  <a href="/success/">return to my books</a></p>
   {% endblock %}
