{% extends "mybooks/index.html" %}


{% load static %}


<div class="container">

   {% block content %}

    <div class="book-metadata">
      <h2>{{ book.title }}</h2>
      <p><strong>Date added:</strong> {{ book.date_added }}</p>
    </div>

    <div class="book-stats">
      <p><strong>Current word count:</strong> {{ book.wordcount }}</p>
      <p><strong>Goal word count:</strong> {{ book.goalwordcount }}</p>
      <button onclick="myFunction()">View wordcount history</button>
    </div>

        <div id="count-history">
          <!--
           {% for wordcount in wordcounts %}
             {{ update.date_added }}: {{ update.wordcount }}
              * date of last update
              * wordcount at that time (get name of function)
             {% endfor %}
             -->
        </div>


    <div class="book-text">
      <h3>Synopsis:</h3>
       <p>{{ book.synopsis }}</p>

       <h3>Review:</h3>
       <p>{{ book.review }}</p>
    </div>




<p><a href="/success/">return to my books</a></p>

</div>


<script>
  function myFunction() {
    var x = document.getElementById("count-history");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }
</script>

   {% endblock %}
