{% extends "mybooks/index.html" %}

{% load static %}

{% block content %}

<div class="container">

    <div class="book-metadata">
      <h2>{{ book.title }}</h2>
      <p><strong>Date added:</strong> {{ book.date_added }}</p>
    </div>

    <div class="book-stats">
      <p><strong>Current word count:</strong> {{ book.wordcount }}</p>
      <p><strong>Goal word count:</strong> {{ book.goalwordcount }}</p>
      <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" onclick="toggleFunction()">View wordcount history</a>
    </div>

        <div id="count-history">
          Hello
          <!--
           {% for wordcount in wordcounts %}
             {{ update.date_added }}: {{ update.wordcount }}
              * date of last update
              * wordcount at that time (get name of function)
             {% endfor %}
             -->
        </div>

<br><br><br>

    <div class="book-text">
      <h3>Synopsis:</h3>
       <p>{{ book.synopsis }}</p>

       <h3>Review:</h3>
       <p>{{ book.review }}</p>
    </div>

    <a href="{% url 'update' pk=book.pk %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Make changes</a>

    <a href="{% url 'success' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Return to my books</a>


</div>


<!-- to toggle history: -->
<script>
  function toggleFunction() {
    var x = document.getElementById("count-history");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }
</script>

{% endblock %}
