<html>

{% load static %}


<head>
 <title>authorCount</title>
 <link rel="stylesheet" type="text/css" href="mysite/css/base.css">

</head>

<div class="home-header">
<h1>authorCount</h1>
 </div>


{% block content %}


  <form action="/success/" method="POST">
    {% csrf_token %}
    {{ form.as_table }} <!-- redundant?! -->
    Username:
      <input type="text" name="Username">
    Password:
      <input type="text" name="Password">
    <input type="submit" value="Login">
    <input type="hidden" name="next" value="{{ next }}">
  </form>


{% endblock %}
