{% extends "mybooks/index.html" %}

{% load static %}

{% block content %}


<div class="container">
  <a href="{% url 'book_detail' book.pk %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Return to <em>{{book.title}}</em></a>
   <br>
   <br>
     <h4>You are <strong>{{book.words_remaining_pc}}%</strong> of the way towards your goal. Keep it up!</h4>
       <p>To be precise, you have <strong>{{book.words_remaining}}</strong> words left to go.</p>
</div>


{% endblock %}
